
body{
    background: white;
    margin:0;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}

/* Header */

.header {
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header,
.right-header{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 25px;
}

.left-header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-left: 200px;
}

.right-header{
    margin-right: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Section-One */

.section-one{
    background: #1f2937;
    margin-top: -20px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-one-left{
    display: flex 1, 1, auto;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    margin-left: 160px;
    max-width: 350px;
}

.section-one-right{
    margin-right: 170px;
}

.title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.sub-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

button {
    max-width: 90px;
}


