
body{
    background: white;
    margin:0;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}

/* Header */

.header {
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header,
.right-header{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 25px;
}

.left-header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    margin-left: 200px;
}

.right-header{
    margin-right: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Section-One */

.section-one{
    background: #1f2937;
    margin-top: -20px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-one-left{
    display: flex 1, 1, auto;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 160px;
    max-width: 390px;
}

.section-one-right{
    margin-right: 170px;
}

.title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.sub-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

.sign-up {
    max-width: 90px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 15px;
}

/* Section Two */

.section-two-title{
    color: black;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 40px;
}

.section-two{
    display: flex;
    gap: 60px;
    justify-content: center;
}

#round {
    border-radius: 25px;
    border: 5px solid #1f2937;
}

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    max-width: 300px;
}

/* Section 3 */

.section-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;
    margin-top: 40px;
    min-height: 400px;
    gap: 0;
}

#quote{
    display: flex;
    align-items: center;
    color:black;
    margin-left: 220px;
    margin-right: 220px;
    font-size: 35px;
    font-style: italic;
}

#quote-person{
    display: flex;
    margin-left: 1400px;
    font-size: 30px;
    font-weight: bold;
}

/* Section 4 */

.section-four{
    margin-top: 80px;
    margin-bottom: 100px;
}

.banner{
    color:white;
    background: #1f2937;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 5px;
    margin-right: 200px;
    margin-left: 200px;
    padding: 10px;
}

.banner-right,
.banner-left{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 25px;
}

#banner-title{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#banner-sub-text{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#sign-up {
    max-width: 90px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 15px;
}
