
body{
    background-color: white;
    margin:0;
}

.header {
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left-header,
.right-header{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

.left-header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-left: 200px;
}

.right-header{
    margin-right: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link {
    color: white;
}
  
a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}